<div class="articles">
	<div class="row">
		{{#each articles}}
			<div class="col-md-3 my-3">
				<div class="card">
					<div class="card-body text-center p-3">
						<img src="/images/{{image}}.jpg" width="100%" class="mb-3">
						<h4 class="title mb-1">
							{{title}}
						</h4>
						<p class="user">
							{{user}}
						</p>
						<div class="details">
							<a href="/articles/read/{{_id}}" class="btn btn-primary w-100"><i>&#xe825;</i> Ver artículo</a>
						</div>
					</div>
				</div>
			</div>
			{{else}}
			<div class="card mx-auto">
				<div class="card-body text-center p-3">
					<p class="lead">No hay artículos para mostrar</p>
					<div class="details">
						<a href="/articles/new-article" class="btn btn-primary w-100"><i>&#xe825;</i> Nuevo artículo</a>
					</div>
				</div>
			</div>
		{{/each}}
	</div>
	<div class="btn-add">
		<a href="/articles/new-article" class="btn btn-primary rounded-circle"><i>&#xe81d;</i></a>
	</div>
</div>